<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_social_links %}
<!--<p class="social-links-info">More about me <span class="social-links-arrow">&#10132;</span></p>-->
<ul class="icon-links">
  
  <!-- CV link -->
  {% if site.resume_social_links.resume_cv_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_cv_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-cv.html %}
    <span class="tooltiptext">{{ site.resume_social_links.resume_cv_tooltip }}</span></a></li>
  {% endif %}
  
  <!-- Funding link -->
  {% if site.resume_social_links.resume_funding_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_funding_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-funding.html %}
    <span class="tooltiptext">{{ site.resume_social_links.resume_funding_tooltip }}</span></a></li>
  {% endif %}
  
  <!-- Work link -->
  {% if site.resume_social_links.resume_work_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_work_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-work.html %}
  </a><span class="tooltiptext">{{ site.resume_social_links.resume_work_tooltip }}</span></li>
  {% endif %}
  
  <!-- Name link -->
  {% if site.resume_social_links.resume_name_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_name_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-name.html %}
    <span class="tooltiptext">{{ site.resume_social_links.resume_name_tooltip }}</span></a></li>
  {% endif %}
  
  <!-- arXiv link -->
  {% if site.resume_social_links.resume_arXiv_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_arXiv_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-arXiv.html %}
    <span class="tooltiptext">{{ site.resume_social_links.resume_arXiv_tooltip }}</span></a></li>
  {% endif %}
  
  <!-- Publications link -->
  {% if site.resume_social_links.resume_publications_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_publications_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-publications.html %}
    <span class="tooltiptext">{{ site.resume_social_links.resume_publications_tooltip }}</span></a></li>
  {% endif %}
  
   <!-- Phone link -->
  {% if site.resume_social_links.resume_phone_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_phone_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-phone.html %}
    <span class="tooltiptext">{{ site.resume_social_links.resume_phone_tooltip }}</span></a></li>
  {% endif %} 
  
  <!-- ORCID link -->
  {% if site.resume_social_links.resume_ORCID_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_ORCID_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-ORCID.html %}
    <span class="tooltiptext">{{ site.resume_social_links.resume_ORCID_tooltip }}</span></a></li>
  {% endif %}
  
</ul>
{% endif %}
