<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_social_links %}
<!--<p class="social-links-info">More about me <span class="social-links-arrow">&#10132;</span></p>-->
<ul class="icon-links">
  
  <!-- CV link -->
  {% if site.resume_social_links.resume_cv_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_cv_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-cv.html %}
      <div class="screenreader-only">CV</div>
  </a><span class="tooltiptext">{{ site.resume_social_links.resume_cv_tooltip }}</span></li>
  {% endif %}
  
  <!-- Funding link -->
  {% if site.resume_social_links.resume_funding_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_funding_url }}" class="icon-link" itemprop="funding">{% include icons/icon-funding.html %}
      <div class="screenreader-only" itemprop="knowsAbout">Funding</div>
  </a><span class="tooltiptext">{{ site.resume_social_links.resume_funding_tooltip }}</span></li>
  {% endif %}
  
  <!-- Work link -->
  {% if site.resume_social_links.resume_work_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_work_url }}" rel="nofollow" class="icon-link" itemprop="mainEntityOfPage">{% include icons/icon-work.html %}
      <div class="screenreader-only">Work</div>
  </a><span class="tooltiptext">{{ site.resume_social_links.resume_work_tooltip }}</span></li>
  {% endif %}
  
  <!-- Name link -->
  {% if site.resume_social_links.resume_name_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_name_url }}" class="icon-link" itemprop="mainEntityOfPage">{% include icons/icon-name.html %}
      <div class="screenreader-only">Name</div>
  </a><span class="tooltiptext">{{ site.resume_social_links.resume_name_tooltip }}</span></li>
  {% endif %}
  
  <!-- arXiv link -->
  {% if site.resume_social_links.resume_arXiv_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_arXiv_url }}" class="icon-link" itemprop="identifier">{% include icons/icon-arXiv.html %}
      <div class="screenreader-only" itemprop="knowsAbout">arXiv</div>
  </a><span class="tooltiptext">{{ site.resume_social_links.resume_arXiv_tooltip }}</span></li>
  {% endif %}
  
  <!-- Publications link -->
  {% if site.resume_social_links.resume_publications_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_publications_url }}" class="icon-link" itemprop="mainEntityOfPage">{% include icons/icon-publications.html %}
      <div class="screenreader-only">Publications</div>
  </a><span class="tooltiptext">{{ site.resume_social_links.resume_publications_tooltip }}</span></li>
  {% endif %}
  
   <!-- Phone link -->
  {% if site.resume_social_links.resume_phone_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_phone_url }}" class="icon-link" itemprop="mainEntityOfPage">{% include icons/icon-phone.html %}
      <div class="screenreader-only">Phone</div>
  </a><span class="tooltiptext">{{ site.resume_social_links.resume_phone_tooltip }}</span></li>
  {% endif %} 
  
  <!-- ORCID link -->
  {% if site.resume_social_links.resume_ORCID_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_ORCID_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-ORCID.html %}
      <div class="screenreader-only">ORCID</div>
  </a><span class="tooltiptext" itemprop="identifier" content="{{ site.resume_social_links.resume_ORCID_id }}">{{ site.resume_social_links.resume_ORCID_tooltip }}</span></li>
  {% endif %}
  
</ul>
{% endif %}
